In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("emergency_department_wait_times.csv")
df.head()

  patient_id         arrival_time triage_level  wait_time_minutes     outcome
0       E001  2024-02-02 13:00:00   Non-Urgent                 77    Admitted
1       E002  2024-03-01 19:00:00   Non-Urgent                197    Admitted
2       E003  2024-02-25 07:00:00       Urgent                139  Discharged
3       E004  2024-02-12 12:00:00       Urgent                151  Discharged
4       E005  2024-02-11 12:00:00   Non-Urgent                162  Discharged

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patient_id         80 non-null     object
 1   arrival_time       80 non-null     object
 2   triage_level       80 non-null     object
 3   wait_time_minutes  80 non-null     int64
 4   outcome            80 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.2+ KB

       wait_time_minutes
count          80.000000
mean          127.275000
std            71.868899
min             5.000000
25%            68.250000
50%           121.500000
75%           202.750000
max           239.000000

In [6]:
#convert time arrival

df["arrival_time"] = pd.to_datetime(df["arrival_time"])

In [7]:
##average ED wait time 

df["wait_time_minutes"].mean()

127.275

In [8]:
##wait time by triage

df.groupby("triage_level")["wait_time_minutes"].mean().sort_values(ascending=False)

triage_level
Non-Urgent    137.777778
Urgent        137.325581
Critical       94.578947
Name: wait_time_minutes, dtype: float64

In [9]:
##wait time outcome

df.groupby("outcome")["wait_time_minutes"].mean()

outcome
Admitted      137.947368
Discharged    117.619048
Name: wait_time_minutes, dtype: float64

In [10]:
#Wait Time by Hour of Day (Very Real-World)
df["arrival_hour"] = df["arrival_time"].dt.hour

In [11]:

df.groupby("arrival_hour")["wait_time_minutes"].mean()

arrival_hour
0      27.000000
1     126.000000
3     131.250000
4     200.400000
5     126.250000
6      97.000000
7      79.250000
8     101.500000
9     114.000000
10    113.857143
11    225.000000
12    105.750000
13     67.000000
14    129.000000
15    160.600000
16    106.500000
17    128.000000
18    124.000000
19    147.600000
20    151.500000
21    175.750000
22     96.800000
23    205.000000
Name: wait_time_minutes, dtype: float64

In [12]:
df.groupby("triage_level")["wait_time_minutes"].mean().sort_values(ascending=False)

triage_level
Non-Urgent    137.777778
Urgent        137.325581
Critical       94.578947
Name: wait_time_minutes, dtype: float64

In [13]:
df["arrival_hour"] = df["arrival_time"].dt.hour
df.groupby("arrival_hour")["wait_time_minutes"].mean()

arrival_hour
0      27.000000
1     126.000000
3     131.250000
4     200.400000
5     126.250000
6      97.000000
7      79.250000
8     101.500000
9     114.000000
10    113.857143
11    225.000000
12    105.750000
13     67.000000
14    129.000000
15    160.600000
16    106.500000
17    128.000000
18    124.000000
19    147.600000
20    151.500000
21    175.750000
22     96.800000
23    205.000000
Name: wait_time_minutes, dtype: float64

In [14]:
df["arrival_hour"] = df["arrival_time"].dt.hour
df["arrival_day"] = df["arrival_time"].dt.day_name()

df.to_csv("cleaned_emergency_department_wait_times.csv", index=False)